.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  max-width: 350px;
  background: white;
  box-shadow: 3px 6px 6px rgb(0 0 0 / 25%);
  overflow-y: scroll;
  padding-top: 7px;
  border-top: 1px solid rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.header-menu.open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
