.ttt-game-container {
  width: 100%;
  margin: 0 auto;
  height: calc(100% - 65px);
}

.ttt-board-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ttt-board-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.ttt-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.ttt-status{
  font-size: 24px;
}

@media only screen and (max-width: 600px){
  .ttt-square {
    width: 100px;
    height: 100px;
  }
}