.tt-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 420px;
  border: 1px solid black;
}
.tt-text {
  display: flex;
  flex-wrap: wrap;
  margin: 12px;
  font-size: 24px;
}
.tt-word {
  margin-left: .25em;
}

.tt-input {
  margin-top: 50px;
}